<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585246569039-6vlqm35jfjhjsegulmevokhbl9fl8j0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585246569039-6vlqm35jfjhjsegulmevokhbl9fl8j0v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>585246569039-b5k039gc14tvma1qlloigrmlh7ud8p0l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm1Swf0mwRf0CvnUZvep7YqjoZDJL6-fs</string>
	<key>GCM_SENDER_ID</key>
	<string>585246569039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbhmode.com</string>
	<key>PROJECT_ID</key>
	<string>dbh-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>dbh-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585246569039:ios:2c17299dc68213ed45703a</string>
</dict>
</plist>